@import "mixing";
@import "../components/leftside/leftside.scss";
@import "../components/feed/feed.scss";
@import "../components/rightside/rightside.scss";
@import "variable";


.container{
    display: flex;
    background-color: black;
    box-sizing: border-box;
    flex-flow: row nowrap;
    margin: 0;
    width: 100%;
    color: white;
    min-height: 100vh;    
}






